<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
      
      <a class="navbar-brand" routerLink="/figurines"><span style="color:aqua;font-family: 'Courier New', Courier, monospace;font-size: larger;">[figurines]</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarNav" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/location">Standort</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/literature">Literatur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/chronology">Chronologie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [attr.href]="'/images/Anthropomorphe_Darstellungen_im_eisenzeitlichen_Tirol_Südtirol_und_Trentino.pdf'">Thesis</a>
          </li>
          </ul>
          <ul style="float:right">
          <li>
            <a class="nav-link" target="_blank"  [attr.href]="'https://uibk.academia.edu/nebojsadukanovic'">©Nebojša Đukanović</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
