<div class="container">
    <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
        <form [formGroup]="figurineForm" class="contact-form form-validate" novalidate="novalidate">
            <input type="hidden" formControlName="figurineId">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="title">Titel</label>
                        <input type="text" class="form-control" formControlName="title" placeholder="Titel des Objektes">
                    </div>
                </div>

                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="materialDescription">Beschreibung des Materials</label>
                        <textarea class="form-control" id="materialDescription" formControlName="materialDescription" rows="4" placeholder="Beschreibung des Materials/der Beschaffenheit"></textarea>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label  for="materials">Material</label>
                        <select  class="form-select" multiple formControlName="materials" >
                        
                            <option *ngFor="let mt of materials"  [ngValue]="mt">
                                {{ mt.title }}
                            </option>
                         </select>
                    </div>  
                </div>
                

                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="descriptionIconography">Ikonografische Beschreibung</label>
                        <textarea class="form-control" id="descriptionIconography" formControlName="descriptionIconography" rows="4" placeholder=""></textarea>
                    </div>
                </div>


                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="descriptionIconology">Ikonologische Beschreibung</label>
                        <textarea class="form-control" id="descriptionIconology" formControlName="descriptionIconology" rows="4" placeholder=""></textarea>
                    </div>
                </div>

                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label for="dateAbs">Datierung Absolut</label>
                        <input type="text" class="form-control"  formControlName="dateAbs" placeholder="2 Jh.v.Ch. | 543 v.Ch.">
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label  for="chronology">Datierung Relativ</label>
                        
                        <select  class="form-select"  formControlName="chronology" >
                            <option [ngValue]="null" ></option>
                            <option *ngFor="let ch of chronologies"  [ngValue]="ch">
                                {{ ch.name }}
                            </option>
                            
                        </select>
                    </div>  
                </div>

                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label  for="carrier">Bildträger</label>
                        
                        <select  class="form-select"  formControlName="carrier" >
                            <option [ngValue]="null" ></option>
                            <option *ngFor="let cr of carriers"  [ngValue]="cr">
                                {{ cr.title }}
                            </option>
                            
                        </select>
                    </div>  
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label  for="motif">Motiv</label>
                        <select  class="form-select"  formControlName="motif" >
                            <option [ngValue]="null" ></option>
                            <option *ngFor="let mf of motifs"  [ngValue]="mf">
                                {{ mf.title }}
                            </option>
                            
                        </select>
                    </div>  
                </div>

                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label  for="location">Fundort</label>                       
                        <select  class="form-select"   formControlName="location" (change)="openLocation()">
                            <option [ngValue]="null" ></option>
                            <option [ngValue]="-1" >neuen Fundort eintragen</option>
                            <option *ngFor="let l of locations"  [ngValue]="l">
                                {{ l.name }}
                            </option>
                            
                        </select>
                    </div>  
                </div>

                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label  for="exibitLocation" >Austellungsort</label>                       
                        <select  class="form-select"  formControlName="exibitLocation" (change)="openMuseum()">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="-1" >neuen Ausstellungsort eintragen</option>
                            <option *ngFor="let m of museums"  [ngValue]="m">
                                {{ m.name }}
                            </option>
                            
                        </select>
                    </div>  
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label for="exibitNr">AustellungsNr.</label>
                        <input type="text" class="form-control" id="exibitNr" formControlName="exibitNr">
                    </div>
                </div>

                <div class="col-sm-6 mb-3"><label  for="literature">Literatur</label></div>
                <div class="col-sm-6 mb-3"><a class="btn btn-new " (click)="onAlert()" >Neu</a></div>
                    
                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        
                        <select  class="form-select" multiple formControlName="literature" >
                            <option *ngFor="let l of literature"  [ngValue]="l">
                                {{ l.title }}
                            </option>
                        </select>
                    </div>  
                </div>
                
            
                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="keyword">Schlagwörter</label>
                        <input type="text" class="form-control" id="keyword" formControlName="keyword" >
                    </div>
                </div>

                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="imageUrl">Link zur Bildergalerie</label>
                        <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl" >
                    </div>
                </div>

                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="image">Bild: {{figImages[0].imageTitle}}</label>
                        <input type="file" class="form-control" id="image" formControlName="image" 
                            accept=".png, .jpg, .jpeg" 
                            (change)="onUploadImages($event)" 
                            />
                    </div>
                </div>
                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="image">Bild: {{figImages[1].imageTitle || '' }}</label>
                        <input type="file" class="form-control" id="image2" formControlName="image2" 
                            accept=".png, .jpg, .jpeg" 
                            (change)="onUploadImages($event)" 
                            />
                    </div>
                </div>
                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="image">Bild: {{figImages[2].imageTitle || ''}}</label>
                        <input type="file" class="form-control" id="image3" formControlName="image3" 
                            accept=".png, .jpg, .jpeg" 
                            (change)="onUploadImages($event)" 
                            />
                    </div>
                </div>
                <div class="col-sm-12 mb-3" *ngIf="figImages">
                    <div class="col-sm-3 mb-3" >
                        <img [src]="imageBaseUrl + figImages[0].imagePath + figImages[0].imageTitle " width="200px" height="200px" alt="" />
                    </div>
                    <div class="col-sm-3 mb-3" *ngIf="figImages.length > 1">
                        <img [src]="imageBaseUrl + figImages[1].imagePath + figImages[1].imageTitle" width="200px" height="200px" alt="" />
                    </div>
                    <div class="col-sm-3 mb-3" *ngIf="figImages.length > 2">
                        <img [src]="imageBaseUrl + figImages[2].imagePath + figImages[2].imageTitle" width="200px" height="200px" alt="" />
                    </div>
                    
                </div>


                

                <div class="col-sm-12 mb-3">
                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </form>
    </div>
</div>

