<div class="container" id="location_container">
    <table class="table  table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Lng</th>
            <th scope="col">Ltd</th>
            <th scope="col">Land</th>
             <th>
              <a class="btn btn-secondary tooltips" (click)="onOpenModal(true)" data-placement="top" data-toggle="tooltip">Neu</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let location of locations">
            <th scope="row"></th>
            <td>{{location?.name}}</td>
            <td>{{location.coordinateLng}}</td>
            <td>{{location.coordinateLat}}</td>
            <td>{{location.place}}</td>
            <td>{{location.country?.name}}</td>
            
          </tr>
          
        </tbody>
      </table>
</div>
