<div class="container py-5">
    <div class="row"><span></span></div>
    <div class="row">
        
        <div class="col-lg-5 col-md-6">
            <div class="mb-2 d-flex">
                <h4 class="font-weight-normal">{{figurine?.title}}</h4> 
            </div>
            <div class="mb-2" *ngIf="!figurine?.imageUrl">            
                <div id="carousel" class="carousel slide" data-bs-ride="carousel" >
                    <div class="carousel-inner">
                    <div   *ngFor="let i of figurine?.images; let x=index" [ngClass]="figurine!.images.indexOf(i) === 0 ? 'carousel-item active' : 'carousel-item'">
                        <img height="300px" [src]="imageBaseUrl + i.imagePath + i.imageTitle" (click)="lightbox_open(x)" >
                    </div>
                    
                    </div>
                    
                </div>

            </div>
            <div class="mb-2" *ngIf="figurine?.imageUrl">
                
                    <app-skechfab title="{{figurine?.title}}" skechfaburl="{{figurine?.imageUrl}}"></app-skechfab>
              
            </div>

            
            <div class="mb-2">
            <ul class="list-unstyled">

                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Dimension: </h6>
                    <label class="media-body"  >
                        {{ figurine?.dimensionY}} x {{ figurine?.dimensionX}} x {{ figurine?.dimensionZ}} cm</label>
                </li>
                
                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Material: </h6>
                    <label class="media-body" *ngFor="let mt of figurine.materials" >{{ mt?.title }} </label>
                </li>
                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Motiv: </h6>
                    <label class="media-body">{{figurine?.motif?.title}}</label>
                </li>
                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Bildträger: </h6>
                    <label class="media-body">{{figurine?.carrier?.title}}</label>
                </li>
                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Relative Datierung: </h6>
                    <label class="media-body">{{figurine?.chronology?.name}}</label>
                </li>
                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Absolute Datierung: </h6>
                    <label class="media-body">{{figurine?.dateAbs}}</label>
                </li>
                
                
            </ul>
            </div>
        </div>


        <div class="col-lg-7 col-md-6 pl-xl-3">
            <div class="mb-2 d-flex">
               
                <a class="btn btn-outline-primary" href="#" role="button" [routerLink]="['/figurine/edit',figurine!.figurineId]">Berabeiten</a>
                <!--button type="button" class="btn btn-outline-primary" (click)="openModalFigurine( figurine)">Berabeiten</button-->
            </div>
            <h5 class="font-weight-normal">Beschreibung des Materials / der Beschaffenheit</h5>
            <p>{{figurine?.materialDescription}}</p>
            
            <h5 class="font-weight-normal">Ikonografische Beschreibung</h5>
            <p>{{figurine?.descriptionIconography}}</p>
            
            <h5 class="font-weight-normal">Deutung</h5>
            <p>{{figurine?.descriptionIconology}}</p>
            
            <p>&nbsp;</p>
            <ul class="list list-unstyled mb-3">

                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Fundort:</h6>
                    <label class="media-body">{{figurine?.location?.name}}, {{figurine?.location?.place}}, {{figurine?.location?.country?.name}}</label>
                </li>

                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Fundortkontext:</h6>
                    <label class="media-body">{{figurine?.context!.title}}</label>
                </li>

                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Ausstellungsort:</h6>
                    <label class="media-body" *ngIf="figurine?.exibitLocation">{{figurine?.exibitLocation?.name}}, {{figurine?.exibitLocation?.place}}, {{figurine?.exibitLocation?.country?.name}}</label>
                </li>

                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Ausstellungsnummer:</h6>
                    <label class="media-body">{{figurine?.exibitNr}}</label>
                </li>
                <li class="media">
                    <h6 class="w-50 text-black font-weight-normal">Literatur:</h6><br>
                    <label class="media-body" *ngFor="let l of figurine?.literature">{{l?.author}}: {{l?.title}}</label><br>
                </li>
            </ul>
        </div>
    </div>
    <div class="root">
        <app-map [showGeocoder]="false" [lat]="figurine?.location?.coordinateLat" [lng]="figurine?.location?.coordinateLng"></app-map>
    </div>
</div>