<div class="container py-5">

	<div class="row row-cols-1 row-cols-md-4 g-4">
		<div class="col" *ngFor="let f of figurines">
			<div class="lc-block bg-white rounded shadow card h-100">
				<a class="image-link" [routerLink]="['/figurine',f.figurineId]">
					<img *ngIf="f.images[0]" [src]="imageBaseUrl + f.images[0]?.imagePath + f.images[0]?.imageTitle"   height="200">
				</a>
				<div class="card-body">
					
						<h5 class="card-title">{{f.title}}</h5>
						<p>Datierung: {{f.chronology!.name}}<br>
						Fundort: {{f.location!.name}},{{f.location!.country!.name}}</p>
					
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				  </div>
			</div>
		</div>
	</div>
		
</div>