<div class="container py-5">
	<form [formGroup]="searchForm" class="contact-form form-validate" novalidate="novalidate">
		<div class="row">
			
				<label class="required-field" for="title">Suche</label>
				<div class="col-sm-12 mb-3">
				<div class="form-group col-sm-11" style="text-align:right;float:left;">
					
					<input type="text" class="form-control" formControlName="search" placeholder="Suche nach:" (keyup.enter)="search()">
				</div>
		
				<div class="form-group col-sm-1" style="text-align:right;float:right;">
					
					<button class="btn btn-sm btn-outline-primary" (click)="search()">Suche</button>
				</div>
			</div>
			
		</div>

		<div class="row">
			<div class="col-sm-4 mb-3">
				<div class="btn-group" style="margin: 0 20px 0 0">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
					Datierung
					</button>
					<ul class="dropdown-menu " aria-labelledby="dropdownMenuClickableInside" style="z-index:10000;" >
					<li>
						<ul class="list-group">
							<li  class="list-group-item" style="white-space: nowrap;"  *ngFor="let c of chronologies;index as i"  >
								<input class="form-check-input me-1" type="checkbox" value="{{doPotenz(i)}}" aria-label="..." (change)="onChronology($event)">
								{{c.name}}
							</li>
							
						</ul>
					</li>
					</ul>
				</div>
			
				<div class="btn-group" style="margin: 0 20px 0 0">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
					Motiv
					</button>
					<ul class="dropdown-menu " aria-labelledby="dropdownMenuClickableInside">
					<li><!-- white-space: nowrap;-->
						<ul class="list-group">
							<li class="list-group-item" style="white-space: nowrap;" *ngFor="let m of motifs;index as i"  >
								<input class="form-check-input me-1" type="checkbox" value="{{doPotenz(i)}}" aria-label="..."  (click)="onMotif($event)">
								{{m.title}}
							</li>
							
						</ul>
					</li>
					</ul>
				</div>
			
				<div class="btn-group" style="margin: 0 20px 0 0">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
					Kontext
					</button>
					<ul class="dropdown-menu " aria-labelledby="dropdownMenuClickableInside">
					<li>
						<ul class="list-group">
							<li class="list-group-item" style="white-space: nowrap;" *ngFor="let cx of contextes;index as i"  >
								<input class="form-check-input me-1" type="checkbox" value="{{doPotenz(i)}}" aria-label="..."  (click)="onContext($event)">
								{{cx.title}}
							</li>
							
						</ul>
					</li>
					</ul>
				</div>
			</div>
		</div>
	</form>
    <div class="row">
		<div class="col-sm-6 mb-3">
			<button class="btn btn-sm btn-outline-primary" (click)="acc.toggle('map')">Mappe</button>
			
		</div>
		<div class="col-sm-6 mb-3">
			<a class="btn btn-outline-primary " href="#" role="button" [routerLink]="['/figurine/edit',-1]">Neu</a>
		</div>
	</div>
	<ngb-accordion #acc="ngbAccordion">
		<ngb-panel id="map" >
		  <ng-template ngbPanelContent>
			<app-map  #figurinesMap [figurinesPoints] = "points" [mapLegend] = "mapLegend"></app-map>
		  </ng-template>
		</ngb-panel>
		
	</ngb-accordion>
	
	<div class="row row-cols-1 row-cols-md-4 g-4">
		<div class="col" *ngFor="let f of figurinesSetFiltered">
			<div class="lc-block bg-white rounded shadow card h-100" *ngIf="f.show">
				<a class="image-link" [routerLink]="['/figurine',f.figurineId]">
					<img *ngIf="f.images[0]" [src]="imageBaseUrl + f.images[0]?.imagePath + f.images[0]?.imageTitle"   height="200">
				</a>
				<div class="card-body">
					
						<h5 class="card-title">{{f.title}}</h5>
						<p>Datierung: {{f.chronology!.name}}<br>
						Fundort: {{f.location!.name}},{{f.location!.country!.name}}</p>
					
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				  </div>
			</div>
		</div>
	</div>
		
</div>