<div class="container py-5">
	<form [formGroup]="searchForm" class="contact-form form-validate" novalidate="novalidate">
		<div class="row">
			
				<div class="hstack gap-3">
					<div><label class="required-field" for="title">Suchbegriffe: </label></div>
					<div>
						<div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="searchType" [(ngModel)]="searchType" >
							<label ngbButtonLabel class="btn-primary-outline">
							  <input ngbButton type="radio"   [value]="0" (change)="search()"> und
							</label>
							<label ngbButtonLabel class="btn-primary-outline">
							  <input ngbButton type="radio"   [value]="1" (change)="search()"> oder
							</label>
						</div>
					</div>
				</div>
				<div class="col-sm-12 mb-5 hstack gap-3">
					<div class="form-group col-sm-10 me-auto" >
						
						<input type="text" class="form-control" formControlName="search" placeholder="Suche nach:" (keyup.enter)="search()" [(ngModel)]="searchString">
					</div>
			
					<div class="form-group ms-auto">
						<button class="btn btn-sm btn-outline-primary" (click)="search()">Suche</button>
					</div>
					<div class="vr"></div>
					<div>
						<a class="btn btn-sm btn-outline-primary " [routerLink]="['/figurine/edit',-1]">Neu</a>
					</div>
				</div>
			
		</div>
	</form>	
	<form [formGroup]="filterForm" class="contact-form form-validate" novalidate="novalidate">
		<div class="row">
			<div class="col-sm-4 mb-3 hstack gap-3">
				<div ngbDropdown  class="btn-group" style="margin: 0 20px 0 0">
					<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
						<i id="fa_chronology" class="far fa-check-square"></i>
						Datierung
					</button>
					
					<div ngbDropdownMenu  class="dropdown-menu "  aria-labelledby="dropdownMenuClickableInside" style="z-index:10000;" >
						<label ngbDropdownItem ngbButtonLabel formArrayName="filterChronology" class="btn-secondary-outline" *ngFor="let c of chronologyFormArray.controls;index as i">
							<!--{{doProzent(index i)}}-->
							<input ngbButton type="checkbox"  value="{{chronologies[i].chronologyId}}" aria-label="..." (change)="onChronology($event)" > {{chronologies[i].name}}
						</label>

					</div>
				</div>
			
				<div ngbDropdown  class="btn-group" style="margin: 0 20px 0 0">
					<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
						<i id="fa_motif" class="far fa-check-square"></i>
						Motiv
					</button>
					<div ngbDropdownMenu  class="dropdown-menu "   aria-labelledby="dropdownMenuClickableInside" style="z-index:10000;" >
						<label ngbDropdownItem ngbButtonLabel  class="btn-secondary-outline" *ngFor="let m of motifs;index as i">
							<input ngbButton type="checkbox"  value="{{m.motifId}}" aria-label="..." (change)="onMotif($event)"  > {{m.title}}
						</label>
					</div>
					
				</div>
			
				<div ngbDropdown class="btn-group" style="margin: 0 20px 0 0">
					<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
						<i id="fa_context" class="far fa-check-square"></i>
						Kontext
					</button>
					<div ngbDropdownMenu  class="dropdown-menu "   aria-labelledby="dropdownMenuClickableInside" style="z-index:10000;" >
						<label ngbDropdownItem ngbButtonLabel class="btn-secondary-outline" *ngFor="let cx of contextes;index as i">
							<input ngbButton type="checkbox"  value="{{cx.contextId}}" aria-label="..." (change)="onContext($event)" > {{cx.title}}
						</label>
					</div>
					
				</div>
				<div >
					<button class="btn btn-sm btn-outline-primary" (click)="acc.toggle('map')">Mappe</button>	
				</div>
			</div>
		</div>
	</form>
    
	<ngb-accordion #acc="ngbAccordion">
		<ngb-panel id="map" >
		  <ng-template ngbPanelContent>
			<app-map  #figurinesMap [figurinesPoints] = "points" [mapLegend] = "mapLegend"></app-map>
		  </ng-template>
		</ngb-panel>
		
	</ngb-accordion>
	
	<div class="row row-cols-1 row-cols-md-4 g-4">
		<div class="col" *ngFor="let f of figurinesSetFiltered">
			<div class="lc-block bg-white rounded shadow card h-100" >
				<a class="image-link" [routerLink]="['/figurine',f.figurineId]" target="_blank">
					<img *ngIf="f.images[0]" [src]="imageBaseUrl + f.images[0]?.imagePath + f.images[0]?.imageTitle"   height="200">
				</a>
				<div class="card-body">
					
						<h5 class="card-title">{{f.title}}</h5>
						<p>Datierung: {{f.chronology!.name}}<br>
						Fundort: {{f.location!.name}},{{f.location!.country!.name}}</p>
					
				</div>
				<!--div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				  </div-->
			</div>
		</div>
	</div>
		
</div>